html{
    scroll-behavior: smooth;
    scroll-padding-top: 50px;
}

body{
    margin: 0;
    padding: 0;
    overflow-y: scroll;
}
body::-webkit-scrollbar{
    display: none;
}
nav{
    position: sticky;
    top: 0;
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    background: rgba(0, 0, 0);
    backdrop-filter: blur( 2px);
    z-index: 10;
}
.name{
    margin-left: 10px;
    font-size: 30px;
    font-family: monospace;
    font-weight: bolder;
    text-transform: capitalize;
}
#showmenu{
    display: none;
}
.toggle{
    height: 30px;
    width: 30px;
    right: 10px;
    top: 10px;
    position: absolute;
    border-radius: 5px;
    cursor: pointer;
}
.garis{
    position: absolute;
    width: 100%;
    height: 5px;
    background: rgb(255, 255, 255);
    border-radius: 25px;
    transition: 0.5s;
}
.garis.atas{
    top: 25%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.garis.tengah{
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.garis.bawah{
    top: 75%;
    left: 50%;
    transform: translate(-50%,-50%);
}
#showmenu:checked ~ nav>.menubtn>.toggle .garis.atas{
    left: -3px;
    top: 14px;
    width: 35px;
    transform: rotate(45deg);
}
#showmenu:checked ~ nav>.menubtn>.toggle .garis.bawah{
    left: -3px;
    top: 14px;
    width: 35px;
    transform: rotate(-45deg);
}
#showmenu:checked ~ nav>.menubtn>.toggle .garis.tengah{opacity: 0; left: 30px;}

/* MENU */
.menu{
    position: fixed;
    width: 100vw;
    height: 100vh;
    display: none;
    justify-content: center;
    background-color: rgb(30, 4, 66,0.8);
    animation: out 0.3s;
    z-index: 9999;
}
#showmenu:checked ~ .menu{
    display: flex;
    animation: in 0.3s;
}
@keyframes in{
    from{
        height: 50px;
        width: 50px;
        border-radius: 50%;
        top: 10px;
        right: 0;
        position: fixed;
     }

    to{
        right: 0;
    }
}
@keyframes out{
    0%{
        right: 0;
        display: flex;
     }
    100%{
        height: 50px;
        width: 50px;
        border-radius: 50%;
        top: 10px;
        right: 0;
        position: fixed;
        display: none;
        box-shadow: none;
    }
}
.menucontainer{
    margin-top: 170px;
    width: 140px;
    height: 300px;
    padding: 0 60px;
    padding-bottom: 15px;
    background: rgba(255, 255, 255, 0.029);
    text-align: center;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.193);
    overflow: hidden;
}
#menu{
    font-size: 45px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-transform: capitalize;
    font-weight: bold;
    color: white;
    cursor: default;
}
.link{
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: capitalize;
    color: white;
    text-decoration: none;
    transition: 0.5s;
}
.link:hover{
    color: rgb(0, 255, 217);
    text-shadow: 0px 0px 5px aqua, 0px 0px 10px aqua, 0px 0px 25px aqua;
}
/* MENU END */
main{
    width: calc(100% - 100px);
    height: calc(100vh * 5);
    display: flex;
    padding-left: 70px;
}
.page{
    width: 100%;
}
/* ASIDE */
aside{
    width: 70px;
    height: 500px;
    background: #1a201e;
    position: fixed;
    left: 0;
    top: 50%;
    translate: 0 -50%;
    border-radius: 0 10px 10px 0;
    z-index: 3;
}
aside>ul{
    width: 40%;
    height: 95%;
    padding-left: 20px;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
li{
    width: 45px;
    height: 45px;
    font-size: 45px;
    transition: 0.5s;
}
li:hover{
    transform: scale(1.1)
    translate(0,-10px);
}
.icon{
    position: relative;
    color: rgb(255, 255, 255,0.5);
    transition: 0.5s;

}
.icon.active{
    color: rgb(255, 255, 255);
}
.icon.active::after{
    content: '';
    width: 35px;
    height: 5px;
    position: absolute;
    left: 5px;
    bottom: -5px;
    background: rgb(255, 255, 255);
    border-radius: 5px;
    z-index: 4;
    animation: status-bar 3s linear infinite;
}
@keyframes status-bar {
    0%{
        
    }
    50%{
        translate:0 5px ;
        transform: scale(0.8);
        background: rgba(255, 255, 255, 0.468);
    }
    100%{
        translate:0 0 ;
    }
}
.icon:hover{
    color: rgb(255, 255, 255);
}
.after{
    position: fixed;
    left: -120%;
    top: 380px;
    height: 5px;
    width: 35px;
    margin-left: 17px;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    transition: 0.5s;
    animation: after 5s ease-in-out infinite;
}

@keyframes after {
    0%{
        
    }
    50%{
        translate:0 3px ;
        transform: scale(0.8);
    }
    100%{
        translate:0 0 ;
    }
}
.after.home{
    top: 265px;
    left: -2px;
}
.after.about{
    top: 345px;
    left: -2px;
}
.after.project{
    top: 428px;
    left: -2px;
}
.after.own{
    top: 510px;
    left: -2px;
}
/* ASIDE END */
/* HOME */

#home{
    width: 100%;
    height: 100vh;
}
.homecontainer{
    height: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: row-reverse;
}
.imgcontant{
    width: 45%;
    height: 100%;
}
.infocontainer{
    width: 55%;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}
#hometeks{
    cursor: default;
    padding-left: 30px;
    font-size: 2.3rem;
    font-family: Arial, Helvetica, sans-serif;
}
b{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-transform: capitalize;
    background: linear-gradient( to right,rgb(255, 0, 153),rgb(0, 179, 255));
    background-clip: text;
    color: transparent;
}
.labelholder{
    width: 100%;
    height: 100px;
    display: flex;
    flex-wrap: wrap;
    padding-left: 25px;
}
.label{
    width: fit-content;
    height: 25px;
    padding: 2px 15px;
    margin-right: 10px;
    border-radius: 15px;
    color: black;
    background-color: aqua;
    align-items: center;
    display: flex;
    transition: 0.5s;
}
.label:nth-child(2){
    background: rgb(255, 184, 198);
    border: 2px solid rgb(255, 16, 64);
    box-shadow: 0px 0px 2px rgb(255, 16, 64),0px 2px 0px rgb(255, 16, 64);
    transition: 0.5s;
}  
.label:nth-child(2):hover{
    background: rgb(255, 16, 64);
    transform: translate(0 , -3px);
}
.label:nth-child(2):active{
    transform: translate(0 , 3px);
    box-shadow: none;
}

.label:nth-child(3){
    background: rgb(163, 255, 244);
    border: 2px solid rgb(0, 255, 225);
    box-shadow: 0px 0px 2px rgb(0, 255, 225),0px 2px 0px rgb(0, 255, 225);
    transition: 0.5s
}
.label:nth-child(3):hover{
    background: rgb(0, 255, 225);
    transform: translate(0 , -3px);
}
.label:nth-child(3):active{
    transform: translate(0 , 3px);
    box-shadow: none;
}
.label:nth-child(4){
    background: rgb(177, 255, 160);
    border: 2px solid rgb(47, 255, 0);
    box-shadow: 0px 0px 2px rgb(47, 255, 0),0px 2px 0px rgb(47, 255, 0);

    transition: 0.5s;
}
.label:nth-child(4):hover{
    background: rgb(47, 255, 0);
    transform: translate(0 , -3px);
}
.label:nth-child(4):active{
    transform: translate(0 , 3px);
    box-shadow: none;
}
.label:nth-child(5){
    background: rgb(158, 193, 255);
    border: 2px solid rgb(16, 104, 255);
    box-shadow: 0px 0px 2px rgb(16, 104, 255),0px 2px 0px rgb(16, 104, 255);
    transition: 0.5s;
}
.label:nth-child(5):hover{
    background: rgb(16, 104, 255);
    transform: translate(0 , -3px);
}
.label:nth-child(5):active{
    transform: translate(0 , 3px);
    box-shadow: none;
}
.label>a{
    font-size: 1.1rem;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    text-decoration: none;
    text-transform: capitalize;
    color: black;

}
/* HOME END */
/* ABOUT */

#about{
    width: 100%; 
    height: calc(100vh - 50px);
    display: flex;
    flex-wrap: wrap; 
    justify-content: start;
    overflow: hidden;
    color: #1a201e;
    position: relative;

}
.judulabout{
    position: absolute;
    width: 85%;
    height: 30px;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: capitalize;
    margin-top: 10px;
    left: 20px;
    z-index: 2;
    text-align: center;
}
.aboutinfo{
    width: calc(100% - 70px);
    height: 100%;
    z-index: 1;
}
.btno{
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
}
  .btnUD{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
    border-radius: 50%;
    transition: 0.5s;
    background: white;
    position: relative;
  }
  .btnUD>.garis{
    width: 30px;
    height: 5px;
    background: black;
    border-radius: 5px;
    position: absolute;
  }
  .btnUD>.garis.one{
    transform: rotate(130deg);
    left: 1px;
  }
  .btnUD>.garis.two{
    right: 1px;
    transform: rotate(45deg);
  }

  .btnUD>.garis.one.down{
    transform: rotate(45deg);
  }
  .btnUD>.garis.two.down{
    transform: rotate(130deg);
  }
.wraper{
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    transition: 1s;
    overflow: hidden;
    scroll-behavior: smooth;
}
.container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    padding-top: 40px;
    padding: 20px;
    padding-bottom: 40px;
    align-items: center;
    justify-content: center;
}
.aboutjudul{
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2rem;
    text-transform: capitalize;
    margin: 0;
}
.aboutimg{
    width: 300px;
    height: 330px;
    background: black;
}
.infoshow{
    width: calc(100% - 310px);
    font-size: 25px;
    padding-left: 10px;
    text-align: start;
}
.aboutteks2{
    width: 100%;
    height: 70%;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    font-size: 25px;
    text-align: start;
}
.infocontant3{
    height: calc(100% - 150px);
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: start;
    text-align: start;
}
.contantlife{
    width: 96%;
    padding: 10px;
    height: fit-content;
    background: rgb(248, 248, 248);
    margin-bottom: 10px;
    border-radius: 10px;
}
.opsi{
    height: 70px;
    background: rgb(219, 219, 219);
    display: flex;
    flex-wrap: wrap;
    padding-left: 20px;
    margin-bottom: 10px;
    border-radius: 25px;
}
.opsi>h3{
    color: black;
    font-family: 'Courier New', Courier, monospace;
    font-style: normal;
}
.opsi>a{
    margin-left: 10px;
    margin-top: 22px;
    font-size: 15px;
    color: black;
}
/* ABOUT END*/
/* SKILS */
#skils{
    width: 100%;
    height: 180vh;
    display: flex;
    flex-wrap: wrap;
    align-items: start;
    justify-content: center;
    gap: 0;
    overflow: hidden;

}
#skils>h1{
    width: 100%;
    font-size: 50px;
    font-family: 'Courier New', Courier, monospace;
    text-transform: capitalize;
    color: transparent;
    background: linear-gradient(to top,#d65d00,#00ff99);
    background-clip: text;
    text-shadow: 0px 0px 10px rgb(218, 218, 218);
    cursor: default;
    padding-left: 20%;
}
#skils>h2{
    font-size: 30px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-transform: capitalize;
    color: rgb(31, 31, 31);
    text-shadow: 0px 0px 10px black;
    cursor: default;
    margin: 0%;
}
.swaper{
    font-size: 1.5rem;
    width: 100%;
    height: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    margin-top: 45px;
}


.swaper>.container{
    width: 200px;
    height: 200px;
    position: relative;
    transform-style: preserve-3d;
    transform: perspective(1000px);
    animation: rotate3d 20s linear infinite;
    cursor: pointer;

    div{
        position: absolute;
        top: 0;
        left: 0;
        transform-style: preserve-3d;
        transform: rotateY(calc(var(--1) * 45deg)) translateZ(400px);
        transition: transform 1s;

        img{
            width: 200px;
            height: 200px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 35px;
            box-shadow: 0 15px 25px rgba(0, 0, 0, 0.5);
        }
    }
}
.swaper>.container:hover{
    animation-play-state: paused;
    transform: perspective(1000px);
}
@keyframes rotate3d{
    from{
        transform: perspective(1000px) rotateY(0);
    }

    to{
        transform: perspective(1000px) rotateY(360deg);
    }
}

.skilholder{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    padding-top: 50px;
    overflow: hidden;
    padding-right: 10%;
}
.skilholder>input{
    display:none;
}
.skil{
    width: 90%;
    height: 60px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: start;
    border-radius: 5px;
    position: relative;
    transition: 0.3s;
    overflow: hidden;
}
.skil:nth-child(2):hover{
    filter: grayscale(0%);
}
.skil:nth-child(4):hover{
    filter: grayscale(0%);
}
.skil:nth-child(6):hover{
    filter: grayscale(0%);
}
.skil:nth-child(2){
    background: url(./img/download\ \(9\).jfif);
    background-position: center;
    background-size: contain;
    filter: grayscale(100%);
}
.skil:nth-child(4){
    color: rgb(219, 219, 219);
    text-shadow: 0px 0px 5px black;
    background: url(./img/01Graphic-Design.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    filter: grayscale(100%);
}
.skil:nth-child(6){
    color: white;
    text-shadow: 0px 0px 15px black;
    background: url(./img/images\ \(8\).jfif);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    filter: grayscale(100%);
}
.skil::after{
    content: '';
    width: 100%;
    height: 5px;
    background: linear-gradient(to right,rgb(255, 47, 0),rgb(0, 204, 255));
    position: absolute;
    left: 0;
    bottom: 0;
    border-radius: 25px;
}
.skil:nth-child(2)::after{
    width: 63%;
}
.skil:nth-child(4)::after{
    width: 20%;
}
.skil:nth-child(6)::after{
    width: 13%;
}
#skil1:checked ~ .skil:nth-child(2){
    height: 200px;
    filter: grayscale(0%);
}
#skil2:checked ~ .skil:nth-child(4){
    height: 200px;
    filter: grayscale(0%);
}
#skil3:checked ~ .skil:nth-child(6){
    height: 200px;
    filter: grayscale(0%);
}
.skilname{
    margin: 0;
    padding-left: 25px;
    padding-top: 4px;
    width: calc(100% - 70px);
    height: 50px;
    display: inline-flex;
    align-items: center;
    flex-wrap: wrap;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    position: relative;
}
.skilname>i{
    margin-right: 10px;
    font-weight: bolder;
}
.skilname>u{
    position: absolute;
    right: 10px;
    font-family: monospace;
    font-size: 20px;
    font-weight: 100;
    font-style: normal;
    text-decoration: none;
}
.deks{
    font-family: monospace;
    font-size: 20px;
    width: 100%;
    height: 100%;
    display: flex;
    padding-left: 10px;
}
.btnskil{
    width: 30px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: end;
    margin-right: 10px;
    transition: 0.5s;
    cursor: pointer;
}
.btnskil .garis{
    width: 30px;
    height: 3px;
    background: black;
    border-radius: 5px;
    position: absolute;
}
.garis.one{
    transform: rotate(0deg);
}
.garis.two{
    transform: rotate(90deg);
}
.btnskil.show{
    transform: rotate(315deg);
}
/* SKILL END */
/* PROJECT */
#project{
    width: 100%;
    height: 100vh;
    color: black;
    font-family: arial;
    padding-left: 15px;
}
.projectcontainer{
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap-reverse;
}
.imgproject{
    width: calc(50% - 20px);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.fotoproject{
    width: 85%;
    max-width: 400px;
    height: 300px;
    position: absolute;
    background: white;
    border-radius: 25px;
    transition: 0.5s;
    z-index: 1;
    filter: grayscale(100%);
    cursor: pointer;
    transform: rotate(-5deg);
}
.fotoproject:hover{
    z-index: 2;
    filter: grayscale(0%);
    transform: rotate(0deg);
}
.f1{
    left: 20px;
    top: 80px;
    background: blue;
}
.f2{
    right: 2px;
    top: 160px;
    background: red;
    transform: rotate(-15deg);
}
.f3{
    left: 0;
    top: 250px;
    background: green;
    transform: rotate(-7deg);
}
.infoproject{
    width: calc(50% - 20px);
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding-left: 20px;
    padding-top: 100px;
}
.infoproject>h1{
    width: 100%;
    cursor: default;
    padding-left: 30px;
    font-family: sans-serif;
    font-weight: 800;
    text-transform: capitalize;
    text-shadow: 0px 0px 5px rgb(157, 255, 0);
}
.infoproject>h2{
    cursor: default;
    padding-left: 10px;
    font-family: Arial, Helvetica, sans-serif;
}
.infoproject>a{
    width: 150px;
    margin-top: 10px;
    margin-left: 20px;
    font-size: 20px;
    text-decoration: none;
    font-weight: 600;
    padding: 10px 15px;
    background-color: rgb(9, 12, 12);
    color: #ecefee;
    border-radius: 5px 5px 5px 5px;
    text-align: center;
    transition: 0.5s;
    border: 1px solid rgb(9, 12, 12);
    border-bottom: 5px solid rgb(9, 12, 12);
}
.infoproject>a:hover{
    transform: translateY(-5px);
}
.infoproject>a:active{
    transform: translateY(5px);
}
/* PROJECT END */
/* CONTACT */

#contact{
    width: 90%;
    height: 750px;
    display: flex;
    flex-wrap: wrap;
}
.containercontact{
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
}
.containercontact>img{
    width: 300px;
    height: 400px;
    background: rgb(255, 255, 255);
    border-radius: 10px;
    position: relative;
    margin-top: 10px;
    margin-left: 10px;
    filter: grayscale(100%);
    transition: 1.5s;
    background-size: contain;
}
.containercontact>img:hover{
    filter: grayscale(0%);
}
.infocontact{
    width: calc(100% - 360px);
    height: 400px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 0;
    padding-left: 20px;
    padding-right: 10px;
}
.infocontact>h1{
    cursor: default;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 800;
    text-transform: capitalize;
    text-shadow: 0px 0px 3px rgb(255, 0, 0);
}
.infocontact>h2{
    cursor: default;
    font-family: Arial, Helvetica, sans-serif;
}
.contacticon{
    color: black;
    font-size: 25px;
    margin-left: 5px;
    transition: 1s;
    cursor: pointer;
}
.contacticon:hover{
    color: transparent;
    background: conic-gradient(#ff4545,#00ff99,#006aff,#ff0095);
    background-clip: text;
}
@media(max-width:576px){
aside{
    width: 0;
    height: 0;
    margin: 0;
    padding: 0;
    display: none;
}
     
/* MAIN */
main{
    width: 100%;
    padding: 0;
}
#home{
    height: 75vh;
}
.homecontainer{
    width: 100%;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-wrap: wrap;
    position: relative;
    gap: 0;
}
.imgcontant{
    width: 350px;
    height: 350px;
    margin-bottom: 20px;
}
.foto1{
    width: 100%;
    height: 100%;
    z-index: 5;
}
.infocontainer{
    height: 60%;
    width: 100%;
    display: block;
    gap: 0;
    top: 0;
}
#hometeks{
    height: fit-content;
    font-size: 1.7rem;
    margin: 0;
    padding: 0 15px;
}
.labelholder{
    height: 120px;
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    row-gap: 0;
    column-gap: 0;
}
.label{
    height: 20px;
    align-items: center;
    padding: 2px 10px;
    margin-top: 10px;
}


/* CONTACT */
#contact{
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: start;
}
.containercontact{
    display: block;
}
.containercontact>img{
    width: 270px;
    height: 300px;
    margin: 0
}
.infocontact{
    margin: 0;
    padding: auto;
    width: 80%;
}

/* ABOUT */
#about{
    padding: 0;
    margin: 0;
}
.judulabout{
    position: absolute;
    width: 100%;
    left: 0;
    font-size: 20px;
    margin: 0;
}
.aboutjudul{
    margin: 0;
    padding: 0;
    font-size: 25px;
}
.aboutinfo{
    width: 100%;
    display: block;
}
.aboutimg{
    width: 300px;
    height: 300px;
}
.infoshow{
    width: 100%;
    font-size: 10px;
    background: #ecefee;
    color: #1a201e;
}
.aboutteks2{
    font-size: 23px;
    padding: 0;
    margin: 0;
}
/* SKILS */
#skils{
    height: 140vh;
}
#skils>h1{
    text-align: center;
    padding: 0;
    font-size: 45px;
}
#skils>h2{
    margin-bottom: 40px;
}
.swaper{
    height: 40%;
    height: 90px;
}
.swaper>.container{
    width: 100px;
    height: 100px;

    div{
        img{
            width: 100px;
            height: 100px;
            border-radius: 10px;
        }
    }
}

.skilholder{
    height: 60%;
    padding: 0;
}

#project{
    padding: 0;
}
.projectcontainer{
    width: 98%;
}
.fotoproject{
    height: 200px;
    width: 200px;
    margin-left: 20px;
}
}
